# Erlang version
erlang_version=26.0.2

# Elixir version
elixir_version=1.15.4

# Always rebuild from scratch on every deploy?
always_rebuild=false

# A command to run right before fetching dependencies
hook_pre_fetch_dependencies="pwd"

# A command to run right after compiling the app
hook_post_compile=""

# Set the path the app is run from
runtime_path=/app
